body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(to right, rgb(129, 238, 129), rgb(0, 179, 255));
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.particles-bg-canvas-self{
  z-index: -1;
}

.center { 
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
  /* background: linear-gradient(to right, rgb(129, 238, 129), rgb(0, 179, 255)); */
  height: 200px;
  margin: 0 auto;
}

.form { 
  width: 700px;

}

.img-holder {
  max-width: 500px;
}